body {
  font-family:Source Sans Pro;
  user-select:none;
}

.playerListTable {
  width:100%;
  padding-top:1em;
  padding-bottom:1em;
  border-top:1px solid #eee;
}

.playerListTableCell {
  text-decoration:underline;
  cursor:pointer;
  border-bottom:1px solid #eee;
}

.playerListTableCell:hover {
  color:red;
}

#filterAndResults {
  height:600px;
  overflow-y:scroll;
};

.filterTable {
  background-color:#fff;
  border:1px solid #eee;
  padding:0.25em;
  margin:0.5em;
  width:100%;
  padding-top:0.5em;
  margin-top:0.5em;
}

.filterTableTitle {
  font-weight:bold;
}

.filterTableListItem {
  cursor:pointer;
}

.filterTableListItem:hover {
  color:blue;
}

.filterTableListItemName {
  font-weight:bold;
}

.resultsPane {
  width:300px;
}

.resultsPaneGroup {
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #aaa;
}

#tooltip {
  width:300px;
  min-height:150px;
  background-color:white;
  position:absolute;
  border:1px solid black;
  padding-left:1em;
  padding-right:1em;
  padding-top:0.25em;
  padding-bottom:0.25em;

}
