#back-button {
  font-weight:600;
  font-size:3em;
  padding-left:0.5em;
  padding-right:0.5em;
  cursor:pointer;
  background-color:black;
  color:white;
  position:absolute;
  left:0;
  top:0;
  z-index:-2;
  margin-top:0;
  margin-bottom:0;
  width:100vw;
  height:100%;
  left:-100vw;
  font-weight:300;
}

#back-button:hover {
  background-color:rgb(44,160,44);
}
