.content-video-container {
  margin:auto;
  width:95vw;
  max-width:1000px;
  position:relative;
  display:block;
  overflow:hidden;
  margin-top:4em;
  margin-bottom:4em;
  border:3px solid rgb(60,144,60);
  box-shadow:5px 5px 8px rgba(0,0,0,0.25);
}

.content-video-container::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
