.more-sketches-button {
  width:95%;
  border:5px dashed rgb(60,144,60);
  color:white;
  background-color:rgba(60,144,60,1);
  font-size:3em;
  font-weight:500;
  margin:auto;
  margin-top:2em;
  margin-bottom:3em;
  text-align:center;
  padding-top:0.5em;
  padding-bottom:0.5em;
  cursor:pointer;
  max-width:1000px;
}

.more-sketches-button:hover {
  background-color:white;
  color:rgb(60,144,60);
}
