#developmentProcess {
  margin-top:5em;
  border-top:0.5em solid #4DB04A;
}

#developmentProcess h1 {
  border-left:0.125em solid #4DB04A;
}

#developmentProcess h2 {
  border-left:0.25em solid #4DB04A;
}
